*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    background-color: #121212;
    color: white;
    height: 100%;
    line-height: 1;
    font-size: 16px;
    font-family: Montserrat;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

.header {
    background: url("./start.png");
}

.headertext {
    color: white;
}


h1 {
    width: 60px;
    margin: 0px auto;
}

p {
    color: white;
}